/deep/ {
  .row_img {
    width: 50px;
    vertical-align: middle;
  }
}

.g_container {
  height: 100%;

  &.el-row {
    margin-left: 0 !important;
  }
}

.box {
  background: #fff;
  border-radius: 4px;
  padding: 0 !important;
}

.small_logo {
  width: 30px;
}

.title {
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  overflow: auto;
  height: calc(100% - 50px);
  margin: 0;
  list-style: none;
  padding: 0;
  color: #666;

  &>li {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px 5px;
    min-height: 60px;
    border-bottom: 1px solid #ebeef5;
  }

  .active {
    background: #d8d8d8;
    color: #111;
    font-weight: bold;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 3;
  }

  .el-link--inner {
    margin-left: 3px;
    font-weight: bold;
    display: inline-block;
    height: 20px;
    font-size: 13px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.el-button--text {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;

  &+& {
    margin-left: 5px;
  }
}